body {
  font-family: 'Roboto', sans-serif;
}
p {
    color: white;
  }
  label {
    color: #fff;
  }
iframe.iframe {
    background-color: rgb(0, 91, 210);
    color: white;
  }
  body {
    text-align: center;
    background-image: url(https://w0.peakpx.com/wallpaper/612/499/HD-wallpaper-equations-math-science.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  input[type="text"] {
    font-size: 16px;
    color: #000;
  }
  input[type="submit"] {
    background-color: #f30000;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #bab103;
  }